.redirect-img-container {
    position: relative;
    width: 19%;
    aspect-ratio: 0.9;

    margin-left: 1.9%;
    margin-right: 1.9%;
}

.image-background {
    position: relative;
    width: 86%;
    height: 79.37%;
    
    margin-left: 14%;
    margin-top: 20.63%;
    background: #A28598;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.image-text {
    position: absolute;
    width: fit-content;
    bottom: 0;
    right: 0;
    margin: 0px 0.4em 0.25em 0px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    text-align: right;

    color: #FCF9EA;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-redirect {
    position: absolute;
    object-fit: cover;
    width: 86%;
    height: 79.37%;
    top: 0;
    left: 0;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    transition: 0.5s;
}

.image-redirect:hover{
    transform: scale(1.1);
}