.instagram-shoutout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;
}

.instagram-shoutout {
    position: relative;
    
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    
    height: 100%;
    margin: 0 0 2% 0;

    color: #000000;
}

.instagram-tag {
    position: relative;
    height: 100%;
    padding: 0.2em 0.3em;

    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
    line-height: 40px;

    border: 1px rgba(220, 204, 209, 1) solid;
    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    
    background: rgba(162, 133, 152, 0.19);
    color: rgba(162, 133, 152, 1);
    transition: 0.8s;
}

.instagram-tag:hover {
    transform: scale(1.1);
}