.gallery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-style: normal;
    text-align: center;
}

.upper {
    margin: 3.72em 0 3.83em 0;
}

.lower {
    margin: 3.33em 0 3.83em 0;
}

.gallery-title {
    font-family: 'Italiana';
    font-size: 3.56em;
    font-weight: 400;
}

.gallery-date {
    font-family: 'Cormorant Garamond';
    font-size: 1.57em;
    font-weight: lighter;
}

.gallery-desc {
    font-family: 'Cormorant Garamond';
    font-size: 1.57em;
    font-weight: 500;
}