.instagram-posts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%
}

.current-posts-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forward-posts-button, .backward-posts-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: 0.5s
}

.forward-posts-button:hover, .backward-posts-button:hover {
    transform: scale(1.2);
}


@media screen and (max-width: 480px) {
    .instagram-posts-container {
        height: 57.3vw;
    }

    .current-posts-display {
        width: 100%;
        height: 100%;
    }

   .backward-posts-button {
        position: absolute;
        left: 1.5vw;

        filter: opacity(150%);
        z-index: 1;
    }

   .forward-posts-button {
        position: absolute;
        filter: opacity(150%);
        right: 1.5vw;
    }
}