.instagram-posts-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%
}

.current-posts-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forward-posts-button, .backward-posts-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: 0.5s
}

.forward-posts-button:hover, .backward-posts-button:hover {
    transform: scale(1.2);
}
