.gallery-display-container {
    width: 100vw;
}

.gallery-category-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 6.66em;
}

.gallery-category {
    background: none;
    border: none;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    transition: 0.87s;
}

.gallery-category:hover {
    transform: scale(1.2);
}

.active {
    font-weight: 700;
    text-decoration: underline 0.05em;
    text-underline-offset: 0.1em;
}

.inactive {
    font-weight: 500;
    opacity: 0.35;
}