.gallery-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 100%;
    overflow: hidden;
}

.gallery-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-event-button {
    position: absolute;
    border: none;
    background: none;

    z-index: 1;
}

.button-image {
    height: auto;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
.button-image:hover {
    transform: scale(1.1);
}

.back-button {
    left: 1.5vw;
}

.forward-button {
    right: 1.5vw;
}

.current-gallery-image-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2.5em 0 0 0;
    cursor: pointer;
}

.gallery-dot-lower, .gallery-dot-upper {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin: 0 0.5vw 0 0.5vw;
    transition: 0.5s;
}

.gallery-dot-upper:hover {
    transform: scale(1.2);
}

.gallery-dot-lower:hover {
    transform: scale(1.2);
}

/* added more gap to the gallery slider on mobile */
@media screen and (max-width: 500px) {
    .gallery-slider {
        gap: 4vw;
    }
    .button-image {
        height: 50px;
    }
}