.curPost {
    position: relative;
    width: 100%;
    
    aspect-ratio: 1;
    margin: 0 0.25% 0 0.25%;
}

.postImg {
    position: relative;
    width: 100%;
    height: 100%;

    aspect-ratio: 1;
    object-fit: cover;
    transition: ease-in 0.4s;
}

.postImg:hover {
    filter: brightness(75%);
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    .curPost:nth-child(1) {
        height: 33vw;
        width: 17.5%;
        
        filter: opacity(0.3);
        transition: 1s cubic-bezier(0.4, 0, 1, 1);
    }

    .curPost:nth-child(2) {
        height: 52vw;
        width: 52vw;

        margin: 0 6.1vw 0 6.1vw;
        transition: 1s ease;
    }

    .curPost:nth-child(3) {
        height: 33vw;
        width: 17.5%;

        filter: opacity(0.3);
        transition: 1s cubic-bezier(0, 0, 0.2, 1);
    }
}
