@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond');
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.Footer {
  display: flex;
  position: relative;
  width: 100vw;
  margin: 0;
  height: 15em;
  background: #A28598;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  background: #A28598;
}

.Footer .Logo {
  position: relative;
  /* Bloom & Vine */
  width: 316px;
  height: 24px;
  padding-top: 48px;
  padding-left: 56px;
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 23px;
  
  display: flex;
  /* align-items: center; */
  letter-spacing: -0.04em;

  color: #FFFDF1;
  transition: 0.3s;
}
.Footer .Description {
  position: relative;
  width: 320px;
  height: 75px;
  left: 0px;
  transition: 0.4s;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-align: left;
  letter-spacing: -0.01em;
  color: #FFFDF1;
  padding-top: 30px;
  padding-left: 56px;
}
.Footer ul {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 600px;
  display: inline-flex;
  float: right;
  bottom: 100px;
}
.Footer ul li {
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0 50px;
  height: 0px;
  transition: transform 0.5s;
  font-weight: 400px; 
}
.Footer ul li a {
  width: 62px;
  height: fit-content;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-size: 25px;
  line-height: 23px;

  color: #FFFDF1;
  text-decoration: none;
}

.Footer ul li:hover {
  text-decoration: underline;
  text-decoration-color: white;
  transform: translateY(-2px);
}

.Facebook {
  position: relative;
  float: right;
  bottom: 40px;
  right: 400px;
  transition: 0.6s;
}

.Facebook:hover {
  transform: translateY(-5px);
}

.Instagram {
  position: relative;
  float: right;
  bottom: 40px;
  right: 375px;
  transition: 0.6s;
}

.Instagram:hover {
  transform: translateY(-5px);
}

.Mail {
  position: relative;
  float: right;
  bottom: 40px;
  right: 350px;
  transition: 0.6s;
}

.Mail:hover {
  transform: translateY(-5px);
}

.Pinterest {
  position: relative;
  float: right;
  bottom: 40px;
  right: 325px;
  transition: 0.6s;
}

.Pinterest:hover {
  transform: translateY(-5px);
}

.des1, .des1 b {
  position: relative;
  float: right;
  width: 16em;
  height: fit-content;
  font-family: 'Cormorant Garamond';
  font-style: lighter;
  font-size: 17px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.01em;
  right: 7.6em;
  /* bottom: 20px; */
  color: #FFFDF1;
  transition: 0.4s;
  /* word-wrap: break-word; */
}

.Socials img {
  width: 20px;
}

.Socials .Facebook img {
  width: 12px;
}

.Socials .Pinterest img {
  width: 16px;
}

.Socials {
  position: relative;
  left: 70px;
  bottom: 100px;
}

.heart {
  margin-right: 5px;
}

@media(max-width: 1750px) {
  .Footer ul {
    padding: 0 400px; 
  }
  .Socials {
    left: 150px;
  }
}

@media(max-width: 1520px) {
  .Footer ul {
    padding: 0 300px; 
  }
  .Socials {
    left: 250px;
  }
}

@media(max-width: 1420px) {
  .wrapper {
    padding-top: 1.5em;
  }
  .Footer .Logo {
    font-size: 4.1vh;
    width: fit-content;
    position: relative;
    padding-top: 0.2em;
    margin: auto;
    padding-right: 5vw;
    justify-content: center;
  }
  .Footer .Description {
    position: relative;
    max-width: 24em;
    width: fit-content;
    height: 75px;
    justify-content: left;
    text-align: center;
    color: #FFFDF1;
    padding-top: 5px;
    margin: auto;

    padding-right: 5vw;
    font-size: 2.1vh;
  }
  .Footer ul {
    display: none;
    
  }
  .Footer .Socials {
    max-width: 25em;
    width: 100%;
    height: fit-content;
    top: 1em;
    margin: 0 auto; 
    float: none;
    

    /* padding-right: 3em; */
    padding-top: 1em;
  }
  .Footer ul {
    display: none;
  }
  .des1 {
    right: 13.1em;
    justify-content: center;
    float: none;
    white-space: pre;
    width: fit-content;
    text-align: left;
    margin: 0 auto;
  }
  .heart {
    left: 37vw; 
    float: none;
    top: 42px;
  }

  .Socials .social-media img {
    padding-left: 1.1em;
    padding-top: 1em;
    /* margin: auto; */
  }
  .Socials img {
    padding-top: 0.5em; 

    margin: auto;
  }
}
