@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond');
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

.Footer {
  display: flex;
  position: relative;
  width: 100vw;
  height: 237px;
  margin: 0;
  background: #A28598;
  flex-direction: column;
}

.wrapper {
  background: #A28598;
}

.Footer .Logo {
  position: relative;
  /* Bloom & Vine */
  width: 316px;
  height: 24px;
  padding-top: 48px;
  padding-left: 56px;
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 23px;
  
  display: flex;
  /* align-items: center; */
  letter-spacing: -0.04em;

  color: #FFFDF1;
  transition: 0.3s;
}

.Footer .Description {
  position: relative;
  width: 320px;
  height: 75px;
  left: 0px;
  transition: 0.4s;

  /* top: 90px; */

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
  text-align: left;
  letter-spacing: -0.01em;
  
  color: #FFFDF1;
  padding-top: 30px;
  padding-left: 56px;

}

.Footer ul {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0 600px;
  display: inline-flex;
  float: right;
  bottom: 100px;
}

.Footer ul li {
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0 50px;
  height: 0px;
  transition: transform 0.5s;
  font-weight: 400px; 
  
}

.Footer ul li a {
  width: 62px;
  height: 23px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-size: 25px;
  line-height: 23px;

  color: #FFFDF1;
  text-decoration: none;
}

.Footer ul li:hover {
  text-decoration: underline;
  text-decoration-color: white;
  transform: translateY(-2px);
}

.Facebook {
  position: relative;
  float: right;
  bottom: 40px;
  right: 400px;
  transition: 0.6s;
}

.Facebook:hover {
  transform: translateY(-5px);

}

.Instagram {
  position: relative;
  float: right;
  bottom: 40px;
  right: 375px;
  transition: 0.6s;
}

.Instagram:hover {
  transform: translateY(-5px);
}

.Mail {
  position: relative;
  float: right;
  bottom: 40px;
  right: 350px;
  transition: 0.6s;
}

.Mail:hover {
  transform: translateY(-5px);
}

.Pinterest {
  position: relative;
  float: right;
  bottom: 40px;
  right: 325px;
  transition: 0.6s;
}

.Pinterest:hover {
  transform: translateY(-5px);
}

.des1 {
  position: relative;
  float: right;
  width: 200px;
  height: 22px;

  font-family: 'Cormorant Garamond';
  font-style: lighter;
  font-weight: 200;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  right: 215px;
  bottom: 20px;

  color: #FFFDF1;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  transition: 0.4s;

}

.des2 {
  position: relative;
  float: right;
  width: 200px;
  height: 22px;

  font-family: 'Cormorant Garamond';
  font-style: lighter;
  font-weight: 200;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  letter-spacing: -0.02em;
  left: 3px;
  color: #FFFDF1;

  transition: 0.4s;

}

.heart {
  position: relative;
  float: right; 
  right: 15px;
  bottom: 3px;
  transition: 0.4s;

}

.Socials {
  position: relative;
  left: 70px;
  bottom: 100px;
}

@media(max-width: 1750px) {
  .Footer ul {
    padding: 0 400px; 
  }
  .Socials {
    left: 150px;
  }
}

@media(max-width: 1520px) {
  .Footer ul {
    padding: 0 300px; 
  }
  .Socials {
    left: 250px;
  }
}

@media(max-width: 1420px) {
  .Footer .Logo {
    position: relative;
    padding-top: 38px;
    /* padding-left: 50vw; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .Footer .Description {
    position: relative;
    width: 540px;
    height: 75px;
    justify-content: center;
    text-align: center;
    color: #FFFDF1;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
  
  }
  .Footer ul {
    display: none;
  }
  .des1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    float: none;
    top: 80px;
    align-items: center;
  }
  .des2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    float: none;
    top: 80px;
    align-items: center;
  }
  .heart {
    left: 37vw; 
    /* justify-content: center; */
    float: none;
    top: 42px;

  }
  
}

