@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond'  );


.Navbar {
  position: relative;
  width: 100vw;
  height: 112px;
  background: #A28598;
  top: 0;
  margin: 0;
}

.Logo {
  position: absolute;
}

.Logo .main-logo{
  text-decoration: none;
  /* Bloom & Vine */
  width: 316px;
  height: 23px;
  padding-top: 48px;
  padding-left: 56px;
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 23px;
  
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: #FFFDF1;
  transition: 0.8s;
}

.Logo .main-logo:hover {
  transform: scale(1.03);
}

.mobile-logo {
  position: relative;
}

.main-mobile-logo{
  text-decoration: none;
  /* Bloom & Vine */
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  display: none;
  padding-top: 1em;
  transition: 0.8s;
}

.main-mobile-logo img {
  width: 70px;
}

.Logo .mobile-main-logo:hover {
  transform: scale(1.03);
}

.Navbar ul li a {
  width: 62px;
  height: 23px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700px; 
  font-size: 25px;
  line-height: 23px;

  color: #FFFDF1;
  text-decoration: none;
  
}

.Navbar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 100px;
  display: inline-flex;
  float: right;
}

.Navbar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px 0 50px;
  height: 0px;
  transition: transform 0.5s;
}

.Navbar ul li:hover {
  text-decoration: underline;
  text-decoration-color: white;
  transform: translateY(-2px);
}

@media (max-width: 1200px) {
  .Navbar ul {
    display: none;
  }
  .Navbar .Logo {
    display: none;
  }
  .Navbar .main-mobile-logo {
    display: flex;
  }
  .MobileNav {
    display: flex;
  }

}