@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Italiana&display=swap');

#servBar{
    display: flex;
    background-color: rgba(162, 133, 152, 0.34);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 175px;
}
#barElm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transition: transform .2s;
}
#barElm:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.servImg{
    width: 14vw;
    height: auto;
    max-width: 223px;
}
.servHeader{
    font-family: 'Italiana';
    font-style: Regular;
    font-size: 2em;
    line-height: 40px;
    line-height: 106%;
    align-self: left;
    vertical-align: Top;
    letter-spacing: 1%;
    color: rgba(252, 249, 234, 1);
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.servHeader2{
    font-family: 'Italiana';
    font-style: Regular;
    font-size: 1.625em;
    align-self: left;
    color: rgba(252, 249, 234, 1);
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-wrap: break-word; 

}