button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: 0.5s
}

button:hover {
    transform: scale(1.2);
}

.review-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.current-review-display {
    height: 100%;
}