.scroll-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1.75vw 1.75vw 0;
}

.scroll-to-top-button {
    width: 5vw;
    transition: 0.7s;
    cursor: pointer;
}

.scroll-to-top-button:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 480px) {
    .scroll-container {
        display: none;
    }
}