.review-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px;
}

.review-text {
    height: 80px;
    width: 1200px;
    margin: 25px;
    
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: #000000;
}

.review-user {
    margin: 10px;
    
    font-family: Comorant Garamond;
    font-style: italic;
    font-weight: lighter;
    font-size: 34px;
    line-height: 61px;
    text-align: center;

    color: #000000;
}

.review-dot-display {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 16px;
}