#primaryImage{
    height: 448px;
    width: auto;
    max-width: 43vw;
}
#secondaryImage{
    opacity: 0.5;
    width: 16vw;
    height: 375px;
    object-fit: cover
}
#tertiaryImage{
    opacity: 0.5;
    width: 14vw;
    height: 321px;
    object-fit: cover
}

/* 

Used for testing the image components all together

#test{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden; 
}

Displays the 5 images that you pass in

<div id = "test">
    <TertiaryImage img = {<yourImgUrl>} />
    <SecondaryImage img = {<yourImgUrl>} />
    <PrimaryImage img = {<yourImgUrl>} />
    <SecondaryImage img = {<yourImgUrl>} />
    <TertiaryImage img = {<yourImgUrl>} />
</div>
            
*/