#GallMobHeader {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 24px;
    margin-top: 24px;
}

#categoryList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoryBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.categoryImg {
    width: 100vw;
    filter: brightness(60%)
}

.categoryText {
    position: absolute;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}