@import url('https://fonts.googleapis.com/css?family=Italiana');
@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond');

.Contact {
  font-family: 'Italiana';
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  /* min-height: 100%; */
  /* display: table; */
}

.Rightside-Screen {
  /* background: lightpink; */
  /* float: right; */
  width: 50vw;
  /* height: 1542px;  */
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  
}

.Leftside-Screen {
  float: left;
  position: relative;
  background: #FAF1EF;
  width: 50vw;
  height: 1542px;
  display: flex;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.form-wrapper {
  position: relative;
  width: 100%;
  text-align: left;
  left: 12vw;
  height: fit-content;
  line-height: 70px;

  font-weight: 700;
  font-size: 20px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], select, textarea {
  font-family: 'Italiana';
  display: block;
  width: 522px;

  height: 35px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

input[type=date] {
  font-family: 'Italiana';
  display: block;
  width: 522px;
  height: 35px;

  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;

}

::placeholder {
  text-decoration-color: grey;
}

textarea {
  width: 522px;
  height: 300px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  position: relative;
  width: 205.2px;
  height: 68.12px;
  background: #A28598;
  border: none;
  border-radius: 10px;
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  top: 100px;
  left: 330px;
  transition: 0.4s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  cursor: pointer;
  text-decoration-color: lightgrey;
  color: white;
  /* transform: translateY(-4px); */
}

#email {
  width: 522px;
  height: 35px;
  font-size: 20px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



.contact-image {
  
  width: 350px;
  position: relative;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 70px;
}

.lets-talk {
  width: auto;
  margin-right: 11em;
  margin-left: 4.5em;
  position: relative;
  margin-top: 600px;
  right: 300px;
  height: fit-content;

  font-weight: 800;
  font-size: 17px;
  text-align: left;

  line-height: 65px;
  
  color: #000000;
}

.Contact ul {
  position: relative;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: inline-flex;
  
}

.Contact ul li {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0px 20px 0px 0px;
  transition: transform 0.5s;
  
}

.Contact ul li:hover {
  transform: translateY(-4px);
}

.Contact ul li a {
  width: 62px;
  height: 23px;
  line-height: 23px;
  text-decoration: none;
}

html {
  scroll-behavior:smooth;
}
body {
  position: relative;
}
.section {
  height: 100vh;
  background: #dedede;
  margin-bottom: 20px;
  font-size: 100px;
}

.scroll-container {
  position: fixed;
  background: blue;
  top: 5;
  height: 0;
  width: 0;
  right: 30px;
}
